:root{
    --TextColor: #690426;
    --BackgroundColor: aliceblue;
    --BorderColor: black;
    --HeaderSize: 20vw;

}
/**/

body{
    margin: 0;
    background-color: aliceblue;
    font-family: Sofia;
}


.Logo{
    position: absolute;
    height: var(--HeaderSize);
    width: var(--HeaderSize);
    background-color: transparent;
    background-image: url(../Assets/Pictures/TestLogo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 5px solid var(--BorderColor);
    cursor: pointer;
}

.Title{
    position: sticky;
    height: 15vh;
    width: 30vw;
    background-color: transparent;
    background-image: url(../Assets/Pictures/Title_img.png);
    image-rendering: pixelated;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: var(--HeaderSize);
    margin-right: 50vw;
    border: 5px solid var(--BorderColor);
}

.Button1, .Button2, .Button3, .Button4, .Button5, .Button6, .Button7, .Button8{
    width: 12.5vw;
    height: 4vw;
    border: 5px solid black;
    position: absolute;
}
.Button1{
    margin-left: 30.25vw;
    margin-top: -2.8vh;
}
.Button2{
    margin-left: 30.25vw;
    margin-top: 5.2vh;
}
.Button3{
    margin-left: 42.75vw;
    margin-top: -2.8vh;
}
.Button4{
    margin-left: 42.75vw;
    margin-top: 5.2vh;
}
.Button5{
    /*patreon button*/
    margin-left: 55.25vw;
    margin-top: -2.8vh;
    background-color: transparent;
    background-image: url(../Assets/Pictures/Patreon\ Button.png);
    image-rendering: pixelated;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.Button6{
    /*twitch button*/
    margin-left: 55.25vw;
    margin-top: 5.2vh;
    background-color: transparent;
    background-image: url(../Assets/Pictures/Twitch\ Button.png);
    image-rendering: pixelated;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.Button7{
    /*mail button*/
    margin-left: 66.37vw;
    margin-top: -2.8vh;
    background-color: transparent;
    background-image: url(../Assets/Pictures/Mail\ Button.png);
    image-rendering: pixelated;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.Button8{
    /*youtube button*/
    margin-left: 66.37vw;
    margin-top: 5.2vh;
    background-color: transparent;
    background-image: url(../Assets/Pictures/Youtube\ Button.png);
    image-rendering: pixelated;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.ProfilePicture{
    position: absolute;
    height: 10vw;
    width: 10vw;
    margin-top: 20vh;
    margin-left: 30vw;
    border-radius: 50%;
    border: 5px solid lightpink;
}

.NameCard{
    position: absolute;
    margin-top: 20vh;
    margin-left: 45vw;
    font-size: 40px;
    border: 5px solid black;
}

.Introduction{
    border: 5px solid black;
    margin-top: 45vh;
    margin-left: 30vw;
    margin-right: 20vw;
}

.StarJump{
    position: absolute;
    width: 45vw;
    height: 28vw;
    margin-left: 5vw;
    border: 5px solid black;
}
.StarJumpInfo{
    margin-left: 50.5vw;
    width: 43vw;
    height: 28vw;
    border: 5px solid black;
}
.PCspecs{
    border: 5px solid black;
    margin-left: 5vw;
    width: 25vw;
    height: 70vh;
}

.Nav{
    background-color: var(--BackgroundColor);
    color: var(--TextColor);

}

.Links{
    color: var(--TextColor);
    padding-top: var(--Padding);
}