:root{
    --TextColor: #690426;
    --BackgroundColor: aliceblue;
    --BorderColor: black;
    --HeaderSize: 20vw;

}

body{
    margin: 0;
    background-color: aliceblue;
    font-family: Sofia;
}


.Logo{
    height: var(--HeaderSize);
    width: var(--HeaderSize);
    position: fixed;
    background-color: transparent;
    background-image: url(../Assets/Pictures/TestLogo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 5px solid var(--BorderColor);
    cursor: pointer;
}

.Title{
    color: var(--TextColor);
    font-family: 'Atomic Age';
    font-size: 40px;
    background-color: var(--BackgroundColor);
    position: fixed;
    margin-left: var(--HeaderSize);
    border: 5px solid var(--BorderColor);
}

.Nav{
    background-color: var(--BackgroundColor);
    color: var(--TextColor);

}

.Links{
    color: var(--TextColor);
    padding-top: var(--Padding);
}